[Desktop Entry]
Version=1.0
Name=Media Repeater
Comment=Repeat playback media files to learning language
Exec=mediarepeater
Icon=mediarepeater_32
Terminal=false
Type=Application
Categories=Education;
StartupNotify=true

